nav.sitenav {
    padding: 0.5rem 0;
}

.navmenu {
    /*margin-top: 2rem;*/
}

@media (max-width: 600px) {
    nav.sitenav {
        padding-right: 1rem;
    }
    .navmenu {
        position: relative;
        padding-top: 2rem;
        margin-top: 0;
    }
}
