/* @tailwind base; */

#app .static {
  position: static
}

#app .mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

#app .mb-1 {
  margin-bottom: 0.25rem
}

#app .mb-2 {
  margin-bottom: 0.5rem
}

#app .mb-4 {
  margin-bottom: 1rem
}

#app .flex {
  display: flex
}

#app .contents {
  display: contents
}

#app .max-h-full {
  max-height: 100%
}

#app .min-h-24 {
  min-height: 6rem
}

#app .flex-auto {
  flex: 1 1 auto
}

#app .flex-col {
  flex-direction: column
}

#app .items-center {
  align-items: center
}

#app .justify-center {
  justify-content: center
}

#app .overflow-y-hidden {
  overflow-y: hidden
}

#app .py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

#app .pt-4 {
  padding-top: 1rem
}
