@page "/auctions"
@attribute [StreamRendering]
@inject ITreasuryDataProvider DataProvider

<PageTitle>Auctions</PageTitle>

<div class="flex max-h-full flex-col overflow-y-hidden">

    <FluentLabel Class="page-title" Typo="Typography.PageTitle" MarginBlock="default">Auctions</FluentLabel>

    <AuctionsComponent @rendermode="@(new InteractiveWebAssemblyRenderMode(false))" TreasuriesRecent="_treasuriesRecent"/>

</div>

@code {

    IEnumerable<Treasury>? _treasuriesRecent;

    protected override async Task OnInitializedAsync()
    {
        _treasuriesRecent = await DataProvider.GetRecentAsync();
    }
}