@page "/"
@rendermode @(new InteractiveWebAssemblyRenderMode(true))
@inject IToastService ToastService


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new Fluent Blazor app.

<div>
    <SfButton IsPrimary="true" Content="Say Hello"/>
</div>

<br/>

<div>
    <FluentButton OnClick="ShowToast" Appearance="Appearance.Accent">Say Hello</FluentButton>
</div>


@code {

    private void ShowToast(MouseEventArgs obj)
    {
        ToastService.ShowInfo("Pippy McGee", 4000);
    }

}