@page "/investments"

<PageTitle>Investments</PageTitle>

<div class="flex h-full flex-col">
    <FluentLabel Class="page-title" Typo="Typography.PageTitle" MarginBlock="default">
        Investments
    </FluentLabel>

    <div class="relative flex h-px flex-auto">
        <InvestmentsComponentSf @rendermode="@(new InteractiveWebAssemblyRenderMode(false))"/>
    </div>
</div>

