@page "/historical"

<PageTitle>Historical</PageTitle>

<div class="flex h-full flex-col">
    <FluentLabel Class="page-title" Typo="Typography.PageTitle" MarginBlock="default">
        Historical Data
    </FluentLabel>
    <PreviousAuctionsComponentSf @rendermode="@(new InteractiveWebAssemblyRenderMode(false))"/>
</div>
