<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  <sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Pip.UI.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<DXThemeManager>
  <setting name="ApplicationThemeName" serializeAs="String">
   <value>Win10System</value>
  </setting>
 </DXThemeManager>
 <connectionStrings>
		<add
   name="PipDbLocal"
   connectionString="Server=(localdb)\ProjectModels;Database=PipDb;Trusted_Connection=True" />
		<!--connectionString="Server=localhost;Database=PipDb;Trusted_Connection=True;Encrypt=false"-->
	</connectionStrings>

	<userSettings>
		<Pip.UI.Properties.Settings>
			<setting name="Foo" serializeAs="String">
				<value>BarBarBar</value>
			</setting>
			<setting name="WindowPlacement" serializeAs="Xml">
				<value>
					<WindowPlacement xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<length>0</length>
						<flags>0</flags>
						<showCmd>0</showCmd>
						<minPosition>
							<X>0</X>
							<Y>0</Y>
						</minPosition>
						<maxPosition>
							<X>0</X>
							<Y>0</Y>
						</maxPosition>
						<normalPosition>
							<Left>0</Left>
							<Top>0</Top>
							<Right>200</Right>
							<Bottom>200</Bottom>
						</normalPosition>
					</WindowPlacement>
				</value>
			</setting>
		</Pip.UI.Properties.Settings>
	</userSettings>
</configuration>
