<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		<sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Pip.UI.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

 <connectionStrings>
		<!--<add name="PipDbLocal" connectionString="Server=(localdb)\ProjectModels;Database=PipDb;Trusted_Connection=True" />-->

		<add name="PipDbLocal" connectionString="Server=lpc:(local);Database=PipDb;Trusted_Connection=True;Encrypt=False" />

		<!--connectionString="Server=localhost;Database=PipDb;Trusted_Connection=True;Encrypt=false"-->
	</connectionStrings>

</configuration>
