<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		<sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Pip.UI.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

 <DXThemeManager>
  <setting name="ApplicationThemeName" serializeAs="String">
   <value>Win10System</value>
  </setting>
 </DXThemeManager>

 <userSettings>
  <Pip.UI.Properties.Settings>
   <setting name="WindowLeft" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="WindowTop" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="WindowWidth" serializeAs="String">
    <value>800</value>
   </setting>
   <setting name="WindowHeight" serializeAs="String">
    <value>600</value>
   </setting>
  </Pip.UI.Properties.Settings>
 </userSettings>
</configuration>
