@page "/auctions"
@attribute [StreamRendering]
@inject ITreasuryDataProvider DataProvider

<h3>Auctions</h3>

<div class="flex max-h-full flex-col overflow-y-hidden">

    <AuctionsComponent Treasuries="RecentTreasuries"/>

</div>

@code {

    List<TreasuryItemViewModel>? RecentTreasuries { get; set; }


    protected override async Task OnInitializedAsync()
    {
        IAsyncEnumerable<Treasury?> treasuries = DataProvider.GetRecentAsyncEnumerable();

        RecentTreasuries = [];
        await foreach (Treasury? t in treasuries)
        {
            if (t is null) continue;

            RecentTreasuries.Add(new TreasuryItemViewModel
            {
                Cusip = t.Cusip,
                AuctionDate = t.AuctionDate,
                IssueDate = t.IssueDate,
                MaturityDate = t.MaturityDate,
                Type = t.Type,
                Term = t.SecurityTerm
            });
            await Task.Delay(300);
            StateHasChanged();
        }

        // RecentTreasuries = (await DataProvider.GetRecentAsync())?.Select(t => new TreasuryItemViewModel
        // {
        //     Cusip = t.Cusip,
        //     AuctionDate = t.AuctionDate,
        //     IssueDate = t.IssueDate,
        //     MaturityDate = t.MaturityDate,
        //     Type = t.Type,
        //     Term = t.SecurityTerm
        // }).ToList();
    }

}