@page "/"

<PageTitle>Home</PageTitle>

<div>
    <FluentLabel Typo="Typography.PageTitle" MarginBlock="default">Treasury Director</FluentLabel>
    <p class="font-bold! text-green-500">An app for tracking and viewing US Treasury data.</p>

</div>