@page "/"

<PageTitle>Home</PageTitle>

<div>
    <FluentLabel Typo="Typography.PageTitle" MarginBlock="default">Treasury Director</FluentLabel>
    <p>An app for tracking and viewing US Treasury data.</p>

</div>