@inject ReloadNotifierService ReloadNotifierService
@implements IDisposable

@if (!_isReloading)
{
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>

    </Router>
}

@code
{
    private bool _isReloading;

    protected override void OnInitialized()
    {
        _isReloading = ReloadNotifierService.IsReloading;
        ReloadNotifierService.Notify += OnNotify;
    }

    private void OnNotify(object? sender, bool isReloading)
    {
        _isReloading = isReloading;
        StateHasChanged();
    }

    public void Dispose()
    {
        ReloadNotifierService.Notify -= OnNotify;
    }
}